.button__login {
    color: #FFFFFF;
    background-color: #EF5350;
    border-color: #EF5350;
    font-size: 15px;
}

.button__login:hover {
    border-color: #EF5350;
}

.div__auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.link__register,
.link__recupera {
    text-decoration: underline;
    color: #EF5350;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .div__auth {
        padding: 40px 20px;
    }
    
    .button__login {
        width: 100%;
    }
}

